@charset "UTF-8";


/*=================================*/
/* Font Styles
/*=================================*/
/*This is the google font style, if you want to change it, 
visit https://www.google.com/fonts and follow the instructions */

body{
	  font-family: 'quicksand', Arial, sans-serif;
  }	
	
/*=================================*/
/* Background Header
/*=================================*/
#intro-header-main { 
	background: url("....jpg") no-repeat center center; /* <-insert your background-picture here*/
} 
#intro-header-bio { 
	background: url("...jpg") no-repeat center center;	/* <-insert your background-picture here*/
} 
#intro-header-about { 
	background: url("...jpg") no-repeat center center;/* <-insert your background-picture here*/
} 
/*=================================*/
/* Color Styles LILAC
/*=================================*/

body{
	 
	  color: #C7AEB8; /*This is the text color of all the text without specifications.*/
	  background-color: #492735; /* this is the background color of your whole site */
  }	
  
.headertext {
	color: #C7AEB8; /*You may change the headertext to a light color if your background-image is to dark*/
}


/*navbar icon*/
.cd-nav-trigger {
	background-color: #AA8F9A;
}
/*stroke and arrow color of the navbar icon (change all to same color)*/
.cd-nav-trigger circle {
  stroke: #492735;
}
.navigation-is-open .cd-nav-trigger circle {
   stroke: #492735;
}
.cd-nav-trigger .cd-nav-icon {
    background-color: #492735;
}
/*activated navbar menu*/
.cd-nav {
	
	background-color: #2A121C;
}

/*menu navbar text*/
 .cd-nav .cd-primary-nav a{
	 
	  color: #AA8F9A;
	 
 }
 /* Select a lighter color for selected text!*/
 .cd-nav .cd-primary-nav a.selected {
	 
    color: #F0EAEC;
	
}
 /* Select a lighter color for a nice hover effect!*/
.no-touch .cd-nav .cd-primary-nav a:hover {
    color: #F0EAEC;
}

/* right navbar text*/
.cd-nav .cd-contact-info li {
	
	color: #AA8F9A;	
}
.cd-nav .cd-contact-info a {
    color: #AA8F9A;	
}
 /* Select a lighter color for a nice hover effect!*/
.cd-nav .cd-contact-info a:hover {
    color: #F0EAEC;
}

/* pagination */
/* select the same color as the body background-color */
.breadcrumb{
background-color: #492735;
}
/*pagination text*/
.breadcrumb a {
     color: #C7AEB8;
	 font-size: 25px;
}
.breadcrumb a:hover {
     text-decoration: none;
	 color: #FAF9F9;
}
/*slashes between pagination*/
.breadcrumb > li + li:before {
   color: #C7AEB8;
   content: " | ";
}